<label for="langFrom" style ="padding-left: 15px">Choose Language To Translate From: </label>
<select id="langFrom" [formControl]="langFrom">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>

<label for="langTo">Choose Language To Translate Into: </label>
<select id="langTo" [formControl]="langTo">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>


<!-- <div class = "container">
  <button (click) = "onStart()">Start Practice
  </button>
</div> -->
<!-- <button id="translatebtn" (click)="send('')">Translate</button> -->

<hr>

<div *ngIf="voiceActiveSectionDisabled; else voicesection;">
    <button type="button" (click)="onStartVoiceRecognition(); onStart()">Start Practice</button>
  </div>
  <ng-template #voicesection>
    <ng-container *ngIf="!voiceActiveSectionError; else failure">
      <ng-container *ngIf="voiceText; else start">
          <span>{{voiceText}}</span>
      </ng-container>
      <ng-template #start>
        <ng-container
          *ngIf="voiceActiveSectionListening; else beginning">
          <span>Listening...</span>
        </ng-container>
        <ng-template #beginning>
          <span>Start talking...</span>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #failure>
      <span>Didn't catch that</span>
    </ng-template>
    <div>
      <button (click)="onCloseVoiceRecognition()">Close</button>
      <button (click)="onStartVoiceRecognition()">Record</button>
    </div>
    <div>
      <div class="container" style = "margin-top: 20px;">
        <button (click) = "onCheck()">Check
        </button>
        <button id="translatebtn" (click) = "send('userAudio')" style="margin-left: auto;">Translate User Audio</button>
          <p>{{guideSentence}}</p>
         <p>{{currentSentence}}</p>

         <div>
           <button (click) = "onListenToSentence()">Listen to sentence</button>
           <button id="translatebtn" (click) = "send('brown')" style="margin-left: auto;">Translate</button>
         </div>
         <p>Accuracy = {{score}}</p>


      </div>
    </div>
  </ng-template>

  <div *ngIf = "sentenceCounter >= 1">
    <button (click) = "onListenAgain()">Listen again</button>
</div>
{{conversationSentence}}
<button id="translatebtn" (click) = "send('neighbor')" style="margin-left: auto;">Translate</button>

<div>
  <p>Translation: {{data.title}}</p>
</div>
